@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(circle at 1px 1px, rgba(0,0,0,0.3) 1px, transparent 0);
  background-size: 30px 30px;
  background-color: rgba(247,247,255,0.8);
}